<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home page</a> | Add Employess Page | <a href="/employees">Company page</a><br>
<form action="/employees/add" method="post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="text" name="phone_number" placeholder="phoneNumber"><br>
    <input type="text" name="salary" placeholder="salary"><br>
    <input type="text" name="position" placeholder="position"><br>
    Company:
    <select name="companies.id">
        <option th:each="comp : ${company}" th:text="${comp.name}" th:value="${comp.getId()}"></option>

    </select>

    <input type="submit" value="Add">
</form>

</body>
</html>